.image-container {
  position: relative;
}

.icon_default {
  display: none;
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  cursor: pointer;
  transition: all 0.2s;
}

.image-container:hover img, .img_active{
  filter: brightness(.3);
}

.image-container:hover i, .icon_active{
  display: inline-block;
}
