.track{
    display: flex;
    align-items: center;
}

.track-playing img{
    animation: spin linear infinite 4s;
}

.track div{
    display: inline-block;
    width: 55%;
}

@keyframes spin {
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}

