body {
  margin: 0;
  padding-bottom: 110px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(to bottom right, #18152a, #121280);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: unset;
}

i{
  cursor: pointer;
  color: white;
  transition: all .2s;
}


.hover:hover, i:hover{
  color: lightgray;
}

input[type="range"]{
  cursor: pointer;
  outline: none;
}

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.animate-up {
  animation: anim linear 0.7s;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-left{
  animation: anim2 linear .7s;
}

@keyframes anim2 {
  0%{
    opacity: 0;
    transform: translateX(50px);
  }

  50%{
    opacity: 1;
    transform: translateX(25px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}